@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor01: #151F30;
    --cor02: #103778;
    --cor03: #0593A2;
    --cor04: #FF7A48;
    --cor05: #E3371E;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to right, #EB1F17,#4F0BEB);
    font-family: "Roboto", sans-serif;
}

/*topo.do.site*/
header {
    width: 780px;
    margin: auto;
}
form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

h1 {
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 5em;
    padding: 25px;
}

p.tx01 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 2em;
    color: white;
    padding: 20px;
    line-height: 1.5em;
}
span {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 1em;
    color: #ff0000;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

/*Barra.de.pesquisa*/
input#pesquisar {
    width: 100%;
    padding: 10px;
    font-size: 2em;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px;
}
button#buscar {
    background-image: linear-gradient(45deg, #151F30, #103778, #0593A2);
    margin: 10px;
    font-size: 2em;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button#buscar:hover {
    background-image: linear-gradient(45deg, #151f3038, #103678d5, #0592a2);
}
/*Barra.de.pesquisa*/

/*Painel.dos.PRODUTOS*/
nav#painel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 780px;
    background-color: white;
    border-radius: 25px;
    flex-wrap: wrap; /* Permite que as divs quebrem em linhas quando necessário */
}
/*Painel.dos.PRODUTOS*/

/*DIV.DOS.PRODUTOS*/
div.coluna {
    width: 350px;
    height: 350px;
    background-color: rgba(30, 41, 59, 0.849);
    margin: 20px 5px 20px 5px;
    border: 1px solid black;
    border-radius: 25px;
    flex: auto; /* Distribui o espaço disponível igualmente entre as colunas */
}

div.coluna > img {
    object-fit: cover; /* Cobertura total da área */
    object-position: top; /* Posicionamento topo */
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 80%;
    background-color: red;
}

div.coluna > p {
    width: 100%;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #ffffff;
}

div.coluna > p.link {
    margin: 0px;
    padding: 0px;
    font-size: 2em;
    width: 100%;
    height: 11%;
    border-radius: 0px 0px 25px 25px;
    background-image: linear-gradient(45deg, #151F30, #103778, #0593A2);
    cursor: pointer;
}
a {
    color: white;
    text-decoration: none;
    margin: 10px;
}
/*DIV.DOS.PRODUTOS*/

/*RODA-PÉ.DA.PÁGINA*/
footer {
    width: 780px;
    height: 50px;
    margin: auto;
}
footer > p {
    text-align: center;
    padding: 20px;
}