
@media screen and (max-width:770px) {
    /*CORPO DO SITE*/
    body {
        width: 100vw;
    }
    header {
        width: 100vw;
    }
    /*CORPO DO SITE*/

    h1 {
        font-size: 3em;
    }
    p.tx01 {
        font-size: 1em;
    }
   
    /*BARRA DE PESQUISA*/
    form {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    input#pesquisar {
        width: 100%;
        padding: 5px;
        font-size: 1.5em;
        margin: 5px;
    }
    button#buscar {
        margin: 5px;
        font-size: 1.5em;
        padding: 5px 10px;
    }

    /*PAINEL DOS PRODUTOS*/
    nav#painel{
        display: grid;
        width: 100vw;
        grid-template-columns: repeat(2, 1fr); /* Divide em 2 colunas */
    }
    div.coluna {
        width: auto;
    }
};